<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info</li>
                <li class="list-group-item">Info</li>
                <li class="list-group-item">Info</li>
            </div>
            <br>
            <div id='map'></div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top" src="<%= campground.image %> " alt="">
                <div class="card-body">
                    <div class="caption-full">
                        <h4 class="float-right">NTD <%= campground.price %>/night</h4>
                        <h4><a href=""><%= campground.name %></a></h4>
                        <p><%= campground.description %></p>
                        <p>
                            <a href=""><%= campground.author.username %></a>
                            <span class="float-right"><%= moment(campground.createdAt).format('MMMM Do YYYY, h:mm a') %></span>
                            
                        </p>
                        <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                            <div class="float-right">
                                <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground.id %>/edit">Edit</a>
                                <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </div>
                            
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body">
                    <div class="text-right">
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                    </div>
                    <hr>
                    <% campground.comments.forEach(function(comment) { %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="float-right"><%= moment(campground.createdAt).format('MMMM Do YYYY, h:mm a') %></span> 
                                <p>
                                    <%= comment.text %> 
                                </p>
                                <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                    <div class="float-right">
                                        <a class="btn btn-sm btn-warning" 
                                        href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                        Edit
                                        </a>
                                        <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                    </div>
                                    
                                <% } %>
                            </div>
                        </div>
                    <% }) %> 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mapbox Script -->
<script>
    var campground = <%- JSON.stringify(campground) %>;
    mapboxgl.accessToken = 'pk.eyJ1IjoidHlodWFuZyIsImEiOiJjazdvcWIxcWUwMXVrM2VycnB6Z3MyeDA1In0.WxrdDbg-SYMAoMD7E7o2Ig';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: campground.coordinates, // Starting position [lng, lat]
        zoom: 10, // Starting zoom level
    });

    var marker = new mapboxgl.Marker({'color': 'blue'}) // initialize a new marker
    .setLngLat(campground.coordinates) // Marker [lng, lat] coordinates
    // .setPopup(new mapboxgl.Popup({ offset: 25}))
    // .setHTML('<h3>' + campground.name + '</h3><p>' + campground.location + '</p>')
    .addTo(map); // Add the marker to the map
</script>

<%- include("../partials/footer") %>